/* styles.css */


html {
  font-family: system-ui, sans-serif;
  background: #13151a;
  background-size: 224px;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(180deg, #1e1e2f 0%, #0d0d18 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50vw;
}
/* .glassmorphism-box:hover {
  transform: rotateX(20deg); /* Tilt forward on hover */
/* }  */
.glassmorphism-box {
  transition: transform 0.5s ease-in-out; 
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  color: #1e1e2f; /* Navy Blue */
  justify-content: space-between;
}

.glassmorphism-box input,
.glassmorphism-box button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 165, 0, 0.8); /* Orange */
  color: #000; /* Black */
  font-size: 16px;
  text-align: center;
  
}

.glassmorphism-box input {
  width: 75%;
}
.glassmorphism-box button {
  cursor: pointer;
}

.response-box {
  min-height: 100px;
  background: rgba(255, 165, 0, 0.8); /* Orange */
  color: #000; /* Black */
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(10px);
}

textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 165, 0, 0.8); 
  border: none;
  outline: none;
}

.hover-transition {
  background-color: transparent;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.hover-transition:hover {
  background-color: forestgreen;
  color: white;
}